* {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #FF4261;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Navagation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.logo-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Download Buttons */

.download-btn {
    margin: 10% 5% 5% 0;
}

/* Title Image */

.title-img {
    width: 60%;
    transform: rotate(20deg);
}

.title-img:hover {
    transform: rotate(0deg);
}

/* Features Section */

.f-logo {
    color: #ef8172;
}

.f-logo:hover {
    color: #FF4268;
}

#features {
    padding: 7% 15%;
}

.feature-box h3 {
    font-weight: 700;
    font-size: 1.2rem;
}

.feature-box p {
    color: #8f8f8f;
}

.feature-box i {
    margin-bottom: 1rem;
}

.feature-box {
    text-align: center;
    padding: 5%;
}